<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Landing Page - Start Bootstrap Theme</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#!">Start Bootstrap</a>
    <a class="btn btn-primary" href="#signup">Sign Up</a>
    <a class="btn btn-primary" routerLink="formulaire" routerLinkActive="active">Formulaire</a>
  </div>
</nav>
<!-- Masthead-->
<header class="masthead">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="text-center text-white">
          <!-- Page heading-->
          <h1 class="mb-5">Generate more leads with a professional landing page!</h1>
          <!-- Signup form-->
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * SB Forms Contact Form * *-->
          <!-- * * * * * * * * * * * * * * *-->
          <!-- This form is pre-integrated with SB Forms.-->
          <!-- To make this form functional, sign up at-->
          <!-- https://startbootstrap.com/solution/contact-forms-->
          <!-- to get an API token!-->
          <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
            <!-- Email address input-->
            <div class="row">
              <div class="col">
                <input class="form-control form-control-lg" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
              </div>
              <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                <p>To activate this form, sign up at</p>
                <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
              </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Icons Grid-->

<!-- Call to Action-->
<section class=" bg-light " id="signup">

  <h1 class="text-center">Veuillez renseigner vos informations</h1>
  <form action="" method="POST">
    <div class="row" style="max-width: 100%">
      <div class="col-lg-6 text-center" style="max-width: 50%">
          <h1>Données personelles</h1>
          <label style="margin-top: 1%">Age</label> <br>
          <input class="mt-auto" type="textarea" name="age" placeholder="age"><br>
          <label style="margin-top: 1%">Taille (cm)</label><br>
          <input type="textarea" name="taille" placeholder="taille"><br>
          <label style="margin-top: 1%">Poid (kg)</label><br>
          <input type="textarea" name="poid" placeholder="poid"><br>
        <div>
          <h2 style="margin-top: 1%">Comorbidités</h2> <br>
          <div class="row" style="max-width: 100%">
            <div class="col-lg-8" style="text-align:right; max-width: 50%">
              <label>Maladies pulmonaires</label> <br>
              <label>Fatigue chronique</label><br>
              <label>Problème cardio-vasculaire</label><br>
              <label>Thrombose</label><br>
              <label>Diabète</label><br>
            </div>
            <div class="col-lg-1" style="text-align:left; max-width: 50%">
              <input type="checkbox" value="Pulmo"><br>
              <input type="checkbox" value="Fatigue"><br>
              <input type="checkbox" value="Cardio"><br>
              <input type="checkbox" value="Thrombose"><br>
              <input type="checkbox" value="Diabete"><br>

            </div>
          </div>
        </div>

          <label>Statut de vaccination</label>
          <input type="checkbox" name="vaccination"><br>

        </div>
      <div class="col-lg-6 text-center" style="max-width: 50%">
        <h1>Données extérieur</h1>
        <div>
          <label>Date d'exposition</label>
          <input type="date" name="date" placeholder="date">
          <label>Durée d'exposition (min)</label>
          <input type="number" name="duree" placeholder="duree">
        </div>
        <div>
          <label>Lieu</label>
          <select name="aeration" id="aeration-select" >
            <option value="ouvert">Ouvert</option>
            <option value="Ferme">Fermé</option>
          </select>
          <label>Portiez-vous un masque ?</label>
          <input type="checkbox" name="user-masque">
          <label>Le cas positif portait-il un masque ?</label>
          <input type="checkbox" name="other-masque">
          <label>Aviez-vous eu des contacts physique ?</label>
          <input type="checkbox" name="contact">
          <label>Si non, qu'elle était votre distance avec le cas positif ?</label>
          <input type="number" name="distance" placeholder="distance">
        </div>
        <h1>Lieu</h1>
        <div>
          <label>Le contact a t'il eu lieu en ville ou à la campagne ? </label>
          <select name="lieu" id="lieu" >
            <option value="ville">Ville</option>
            <option value="campagne">Campagne</option>
          </select>

        </div>
      </div>
      </div>
  </form>
</section>


<!-- Footer-->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="#!">About</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Contact</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2021. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item me-4">
            <a href="#!"><i class="bi-facebook fs-3"></i></a>
          </li>
          <li class="list-inline-item me-4">
            <a href="#!"><i class="bi-twitter fs-3"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#!"><i class="bi-instagram fs-3"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
