.imagesC{
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  animation-duration: 12s;
  animation-name: mesImages;
  animation-iteration-count: infinite;

}
.blabla{
  margin-left: 30%;
}

#bilabial{
  width: 640px;
  overflow: hidden;
}

@keyframes mesImages {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-640px);
  }
  50% {
    transform: translateX(-1280px);
  }
  100% {
    transform: translateX(0px);
  }
}
html,
body {
  height: 100vh;
}
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  padding: 24px;
}
.box {
  border: 1px solid #0a58ca;
  background-color: #0a58ca;
  color: white;
}
.box-inner {
  margin: 24px;
}
h1 {
  font-size: 2.25em;
  line-height: 1.38888889em;
  bottom: -0.29444444em;
  position: relative;
  margin: 0.5em 0;
}
h1:first-child {
  margin-top: -0.58888889em;
}
h1:last-child {
  margin-bottom: 0;
}
p {
  font-size: 1em;
  line-height: 1.5em;
  bottom: -0.35em;
  position: relative;
  margin: 1em 0;
}
p:first-child {
  margin-top: -0.7em;
}
p:last-child {
  margin-bottom: 0;
}

