<body style="height: 75%;  background-color: whitesmoke">
<div class="blabla"  >
  <div id="bilabial" style=" box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <div class="imagesC " >
      <img src="assets/img/Covid1.jpg">
      <img src="assets/img/Covid2.jpg">
      <img src="assets/img/Covid3.jpg">
    </div>
  </div>

</div>
<div style="margin-top: 2%; text-align: center; margin-left: 20%; margin-right: 20%;  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
  <p>QUANTICOVID est une application permettant de calculer grâce à la technologie quantique votre probabilité dêtre contaminer par le virus du COVID suite à un contact avec une personne contaminé.</p>
  <p> Il vous suffit de remplir le <a href="formulaire">Formulaire</a></p>
</div>
</body>
