.imagesC{
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  animation-duration: 12s;
  animation-name: mesImages;
  animation-iteration-count: infinite;

}
.blabla{
  margin-left: 30%;
}

#bilabial{
  width: 640px;
  overflow: hidden;
}

@keyframes mesImages {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-640px);
  }
  50% {
    transform: translateX(-1280px);
  }
  100% {
    transform: translateX(0px);
  }
}
.cyberpunk {
  border: 30px solid #0a58ca;
  border-left: 5px solid #0a58ca;
  border-right: 5px solid #0a58ca;
  border-bottom: 15px solid #0a58ca;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
}

